<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.apps2go.agnostiko">
  <uses-permission android:name="android.permission.MANAGE_NEWLAND" />
  <uses-permission android:name="android.permission.MANAGE_NEWLANDUART3" />
  <uses-permission android:name="android.permission.MANAGE_NEWLANDMODEM" />
  <uses-permission android:name="android.permission.SHUTDOWN"/>
  <uses-permission android:name="android.permission.MANAGE_ANALOG_SERIAL"/>
  <application android:usesCleartextTraffic="false" android:allowBackup="false">
    <activity
      android:name="com.apps2go.agnostiko.newland_nsdk.activity.KeyBoardNumberActivity"
      android:theme="@android:style/Theme.Translucent.NoTitleBar"
      android:label="PinKeyboardActivity"
      android:exported="false">
    </activity>
    <receiver 
      android:name="com.apps2go.agnostiko.newland_nsdk.NSDKInstallationReceiver" 
      android:permission="android.permission.INSTALL_PACKAGES" 
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.INSTALL_APP_HIDE" />
        <action android:name="android.intent.action.DELETE_APP_HIDE"/>
        <action android:name="android.intent.extra.ota.silent.installation" />
      </intent-filter>
    </receiver>
    <receiver android:name="com.apps2go.agnostiko.newland_nsdk.OtaUpgradeResultReceiver" android:exported="false">
      <intent-filter>
        <action android:name="android.intent.extra.ota.silent.installation"/>
      </intent-filter>
    </receiver>
  </application>
</manifest>
